<div class="container-fluid">
  <header class="row">
    <div class="col-md-12 text-center">
      <img src="https://s3.eu-central-1.amazonaws.com/welcome-yumi/assets/images/welcome-yumi-logo.png"/>
    </div>
  </header>
  <section id="photo-1" class="row">
    <div class="parallax-window" data-parallax="scroll" data-image-src="https://s3.eu-central-1.amazonaws.com/welcome-yumi/assets/images/trio-dag.jpg" data-natural-width="1500" data-natural-height="750"></div>
  </section>
  <section id="text-1" class="row  text-justify text-section">
    <div class="col-md-6 col-md-offset-2">
      <p class="lead">
        Et oui, Dag est enceinte ! Notre bout de chou devrait pointer le bout de son nez d'ici le 20 mai
      </p>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <p class="lead">
        Nous faisons notre possible pour l'accueillir dans les meilleures conditions et sommes désormais (presque) prêts pour nous en occuper
      </p>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <p class="lead">
        Nombre de personnes ont pu nous aider en ce qui concerne les vêtements, le berceau suspendu et autres accessoires tendances chez les bébés :) et nous les remercions encore une fois !
      </p>
    </div>
  </section>
  <section id="photo-2" class="row">
    <div class="parallax-window" data-parallax="scroll" data-image-src="https://s3.eu-central-1.amazonaws.com/welcome-yumi/assets/images/belly.jpg" data-natural-width="1024" data-natural-height="683"></div>
  </section>
  <section id="text-2" class="row text-justify text-section">
    <div class="col-md-6 col-md-offset-2">
      <p class="lead">
        Si tant est que nous avons déjà tout l'équipement nécessaire à l'arrivée de la nouvelle-née ! Oui, c'est une fille :)
      </p>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <p class="lead">
        De plus, Dagmara a commencé la confection de plusieurs vêtements et bonnets en tout genre, ainsi que Tata Nicole qui a préparée de quoi réchauffer tout un service de maternité !
      </p>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <p class="lead">
        C'est pourquoi, si vous souhaitez porter une petite attention à la naissance de Yumi (OUI, ça sera le prénom de notre fille !), nous vous proposons de participer pécunièrement à l'achat
        <ul>
          <li>d'un super pack TRIO Peg Perego poussette - siège auto - landau auto (lui aussi)</li>
          <li>d'une magnifique chaise haute pour bébé Stokke Tripp Trapp</li>
        </ul>
      </p>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <p class="lead">
        On ne souhaite en aucun cas vous pousser à participer et le seul but est de ne pas se retrouver avec des vêtements qui débordent des placards ! (Pour être honnête, ils débordent déjà)
      </p>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <p class="lead">
        Vous trouverez ci-dessous les fameux objets que nous souhaitons acquérir
      </p>
    </div>
  </section>
  <section id="photo-3" class="row">
    <div class="parallax-window" data-parallax="scroll" data-image-src="https://s3.eu-central-1.amazonaws.com/welcome-yumi/assets/images/peg-perego.jpg" data-natural-width="895" data-natural-height="646">
    </div>
    <div class="col-md-4 col-md-offset-4 donate">
      {{donate-form description="Participation à la poussette"}}
    </div>
  </section>
  <section id="text-3" class="row  text-justify text-section">
    <div class="col-md-6 col-md-offset-2">
      <p class="lead">
        Cette idée nous est venue par les demandes de liste de naissance. La réponse obtenue étant régulièrement négative, nous avons décidé de créer notre propre liste de naissance, non affiliée à un quelconque magasin
      </p>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <p class="lead">
        Malheureusement, réalisation faite, cela nous fait plutôt penser à une boutique en ligne...
      </p>
    </div>
  </section>
  <section id="photo-4" class="row">
    <div class="parallax-window" data-parallax="scroll" data-image-src="https://s3.eu-central-1.amazonaws.com/welcome-yumi/assets/images/tripp-trapp.jpg" data-natural-width="1069" data-natural-height="741"></div>
  </section>
  <section id="text-4" class="row  text-center text-section">
    <div class="col-md-4 col-md-offset-4">
      <p class="lead">
        Nous vous remercions chaleureusement d'avoir visité cette page et vous embrassons tous !
      </p>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <p class="lead">
        Nous vous invitons à aller voir d'autres photos de la grossesse de Yumi <a href="https://www.flickr.com/gp/110169193@N05/FqjthF/">ICI</a>
      </p>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <p>
        Dagmara, Damien & Yumi
      </p>
    </div>
  </section>
  {{outlet}}
  <footer class="row">
    <div class="col-md-12 text-center">
      © 2015 Damien Bachet
    </div>
  </footer>
</div>